<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrd.my_batis.repository.InstructorMapper">

    <resultMap id="InstructorResultMap" type="Instructor">
        <id     property="instructorId"   column="instructor_id"/>
        <result property="instructorName" column="instructor_name"/>
        <result property="email"          column="email"/>
    </resultMap>

    <!-- Get all instructors -->
    <select id="getAllInstructors" resultMap="InstructorResultMap">
        SELECT instructor_id, instructor_name, email
        FROM instructors
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- Get instructor by ID -->
    <select id="getInstructorById" resultMap="InstructorResultMap">
        SELECT instructor_id, instructor_name, email
        FROM instructors
        WHERE instructor_id = #{instructorId}
    </select>

    <!-- Create instructor -->
    <insert id="createInstructor">
        INSERT INTO instructors (instructor_name, email)
        VALUES (#{req.instructorName}, #{req.email})
    </insert>

    <!-- Update instructor -->
    <update id="updateInstructor">
        UPDATE instructors
        SET instructor_name = #{req.instructorName},
            email           = #{req.email}
        WHERE instructor_id = #{instructorId}
    </update>

    <!-- Delete instructor -->
    <delete id="deleteInstructor">
        DELETE FROM instructors
        WHERE instructor_id = #{instructorId}
    </delete>

</mapper>
