<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrd.my_batis.repository.StudentMapper">

    <resultMap id="StudentResultMap" type="Student">
        <id     property="studentId"   column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="email"       column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <collection property="courses" ofType="Course">
            <id     property="courseId"    column="course_id"/>
            <result property="courseName"  column="course_name"/>
            <result property="description" column="description"/>
            <association property="instructor" javaType="Instructor">
                <id     property="instructorId"   column="instructor_id"/>
                <result property="instructorName" column="instructor_name"/>
                <result property="email"          column="instructor_email"/>
            </association>
        </collection>
    </resultMap>

    <!-- Get all students with courses and instructor (pagination) -->
    <select id="getAllStudents" resultMap="StudentResultMap">
        SELECT s.student_id,
               s.student_name,
               s.email,
               s.phone_number,
               c.course_id,
               c.course_name,
               c.description,
               i.instructor_id,
               i.instructor_name,
               i.email AS instructor_email
        FROM students s
        LEFT JOIN student_course sc ON s.student_id = sc.student_id
        LEFT JOIN courses c         ON sc.course_id = c.course_id
        LEFT JOIN instructors i     ON c.instructor_id = i.instructor_id
        ORDER BY s.student_id
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- Get student by ID have courses and instructor -->
    <select id="getStudentById" resultMap="StudentResultMap">
        SELECT s.student_id,
               s.student_name,
               s.email,
               s.phone_number,
               c.course_id,
               c.course_name,
               c.description,
               i.instructor_id,
               i.instructor_name,
               i.email AS instructor_email
        FROM students s
        LEFT JOIN student_course sc ON s.student_id = sc.student_id
        LEFT JOIN courses c         ON sc.course_id = c.course_id
        LEFT JOIN instructors i     ON c.instructor_id = i.instructor_id
        WHERE s.student_id = #{studentId}
    </select>

    <!-- Create student -->
    <insert id="createStudent">
        INSERT INTO students (student_name, email, phone_number)
        VALUES (#{req.studentName}, #{req.email}, #{req.phoneNumber})
    </insert>

    <!-- Add student-course  -->
    <insert id="insertStudentCourse">
        INSERT INTO student_course (student_id, course_id)
        VALUES (#{studentId}, #{courseId})
    </insert>

    <!-- Delete all course  -->
    <delete id="deleteStudentCourses">
        DELETE FROM student_course
        WHERE student_id = #{studentId}
    </delete>

    <!-- Update student -->
    <update id="updateStudent">
        UPDATE students
        SET student_name = #{req.studentName},
            email        = #{req.email},
            phone_number = #{req.phoneNumber}
        WHERE student_id = #{studentId}
    </update>

    <!-- Delete student -->
    <delete id="deleteStudent">
        DELETE FROM students
        WHERE student_id = #{studentId}
    </delete>

</mapper>
